a{
    text-decoration: none;
    color: none;
}
ul{
    margin-bottom: 0rem;
}

.container{
    margin-top: 3%;
}

.form-inline{
    display: flex;
    margin-top: 3%;
    justify-content:space-between;
    align-items: center;
}

.form{
    background:  #D5F5E3;
    font-weight: bold;
    border: none;
    padding: 10px 10px 13px 10px;
    border-radius: 10px;
}

.agregar{
    padding: 10px;
    background: #D5F5E3;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

@media only screen and (max-width: 900px){

    .form-inline{
        display: block;
        align-items: center;
    }
    .agregar{
        margin-top: 2%;
        padding: 5px;
    }

}

